<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
         <h2>About</h2>
         <hr>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <a href="#">nulla pariatur.</a></p>
         <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-2 homepage_content">
         <h2>Stuff I've Written</h2>
         <hr>
         <% @posts.each do |post| %>
         	<h3><%= link_to post.title, post %></h3>
         	<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
         <% end %>
      </div>
      <div class="col-3 homepage_content">
         <h2>Stuff I've Built</h2>
         <hr>
         <% @projects.each do |project| %>
            <h3><%= link_to project.title, project %></h3>
            <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
         <% end %>
      </div>
   </div>